<style type="text/css">

.services {
padding-top: 121px;
}
.mobile {
  margin-left: -4px;
}

.home-image-mobile {
display: block;
max-width: 100%;
width: 159px;
height: auto;
margin-left: 76px;
margin-top: 20px;
}

.header-mobile {
  height: 700px;
  width: 100%;
}



</style>

<%= render 'layouts/navbar' %>
<%= render 'pages/header' %>
<%= render 'pages/headermobile' %>
<%= render 'pages/productinfo' %>
<%= render 'pages/productinfomobile' %>    


    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>Natural Energy</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Call to Action -->
    <div class="call-to-action ">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-md-6 col-md-offset-3 text-center">
            <%= link_to "CONTACT US", contact_path, class: "btn btn-lg btn-red" %>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

<%= render 'pages/footer' %>  

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>