<style type="text/css">

.navbar {
position: relative;
min-height: 50px;
margin-bottom: auto;
border: 1px solid transparent;
}

.img {
max-width: 500px;
width: auto;
height: 374px;
}

.col-lg-offset-0 {
margin-left: 4.333333%;
}

</style>

<nav class="navbar transparent navbar-inverse navbar-fixed navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <div class="logo-row">
        <a class="navbar-brand logo-nav visible-md visible-lg" href="/"><img src="assets/logo.png"></a>
        <a class="navbar-brand logo-nav visible-xs" href="/"><img src="assets/logomobile.png"></a>
      </div>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <div class="button-row">
        </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


<div class="services">
  <div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h2>Want to make an order?</h2>
        <hr>
    </div>
  </div>

 
  <div class="row">
    <div class="col-sm-6 col-md-3 col-md-offset-1 col-lg-offset-1 visible-xs visible-md visible-lg text-center">
      <div class="thumbnail">
        <div class="service-item">
            <img src="assets/kola-nut.jpg" alt="..." class="img-rounded">
            <div class="caption">
              <h4>Superfruit</h4>
              <h4>Energy Drink 250ml</h4>
              <br>
              <h4>£1.00</h4>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa.</p>
              <p>The origin of the term "cola", it is chewed in many West African cultures, individually or in a social setting, to restore vitality.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-offset-0 visible-md visible-lg text-center">
      <div class="thumbnail">
        <div class="service-item">
            <img src="assets/baobab.jpg" alt="..." class="img-rounded">
            <div class="caption">
              <h4>Superfruit</h4>
              <h4>Energy Drink 24 x 250ml</h4>
              <br>
              <h4>£24.00</h4>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa.</p>
              <p>The origin of the term "cola", it is chewed in many West African cultures, individually or in a social setting, to restore vitality.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-offset-0 visible-md visible-lg text-center">
      <div class="thumbnail">
        <div class="service-item">
            <img src="assets/guarana.jpg" alt="..." class="img-rounded">
            <div class="caption">
              <h4>Superfruit</h4>
              <h4>Energy Drink 24 x 250ml</h4>
              <br>
              <h4>Buy 2 for £36.00</h4>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa.</p>
              <p>The origin of the term "cola", it is chewed in many West African cultures, individually or in a social setting, to restore vitality.</p>
            </div>
        </div>
      </div>
    </div>

    <!-- Mobile -->

    <div class="col-sm-6 col-md-3 visible-xs text-center">
      <div class="thumbnail">
        <div class="service-item">
            <img src="assets/baobab.jpg" alt="..." class="img-rounded">
            <div class="caption">
              <h4>Superfruit</h4>
              <h4>Energy Drink 24 x 250ml</h4>
              <br>
              <h4>£24.00</h4>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa.</p>
              <p>The origin of the term "cola", it is chewed in many West African cultures, individually or in a social setting, to restore vitality.</p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 visible-xs text-center">
      <div class="thumbnail">
        <div class="service-item">
            <img src="assets/guarana.jpg" alt="..." class="img-rounded">
            <div class="caption">
              <h4>Superfruit</h4>
              <h4>Energy Drink 24 x 250ml</h4>
              <br>
              <h4>Buy 2 for £36.00</h4>
              <p>Fruit of the kola tree, native to the tropical rainforest of Africa.</p>
              <p>The origin of the term "cola", it is chewed in many West African cultures, individually or in a social setting, to restore vitality.</p>
            </div>
        </div>
      </div>
    </div>

  </div>


    <div class="row">
      <div class="col-md-5 col-lg-offset-1">
        <h3>Shipping Notice</h3>
        <p>Customers purchasing Tiles from Canada will be subject to a $8.00 shipping fee on their order. Customers in the EU and ANZ, will be subject to a $14.00 shipping fee.</p><br>

        <h3>Credit Card Notice</h3>
        <p>Your credit card will be charged one to two days after placing your order.</p><br>

        <h3>Free Samples</h3>
        <p>If you would like some samples to see first hand the quality of these Sage Invoices then call us on 0844 3511398 and we'll pop some in the post.</p>
        <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-2">

        </div>
      </div>

      <div class="col-md-5">
        <h3>Contact Us</h3>
        <div class="panel-body">
          <%= form_for @message, :url => contact_path do |form| %>


              <div class="form-group">
                <%= form.text_field :name, class: "form-control", :placeholder => "Name"%>
              </div>


              <div class="form-group">
                <%= form.text_field :email, class: "form-control", :placeholder => "Email" %>
              </div>

              <div class="form-group">
                <%= form.text_field :subject, class: "form-control", :placeholder => "Subject" %>
              </div>

              <div class="form-group">
                <%= form.text_area :body, class: "form-control", :id => "message_area", :cols => 18, :rows => 10,  :placeholder => "Message" %>
              </div>


            <div class="form-group">
              <%= form.submit "Send", class: "btn btn-red btn-lg" %>
            </div>
          <% end %>
      </div>

      </div>
    </div>
  </div>
</div>

<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
            <!--  <li><i class="fa fa-facebook fa-3x"></i></li> -->
            <li><a href="https://twitter.com/Born_in_Africa"><i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a href="https://www.facebook.com/borninafrica"><i class="fa fa-facebook fa-3x"></i></a></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>&copy; Copyright 2014 Born in Africa Superfruit Energy Drink.</p>
            <p>All rights reserved.</p>
          </div>
        </div>
      </div>
</footer>
